table, thead, th, tr, td {border:1px solid black; }
table {width:100%;}

.syntax{
    color:red;
}
.author{
    font-weight: bold;
    color: crimson;
}
th{font-weight: bold;
background-color: coral;}
tr{ background-color:beige;}

body{
    background-image: url("img/Kristal-subtle-glass-white-background-pattern-patternpictures-0220.png");
}

header{
    text-align: justify;
    font-family: cochin;
    color:darkmagenta;
}
header p{
    color:darkslateblue;
}

.logo{
    width: 100px;
    height: auto;
    position:absolute;
    top: 8px;
    right: 16px;
}